/LyyrakorttiMockito/target/
/viikko2/Verkkokauppa3/nbproject/
/viikko2/Verkkokauppa3/target/
/IntJoukkoSovellus/target/
/Tennis/nbproject/
/Tennis/target/
/Laskin/build/
/Laskin/nbproject/private/
/QueryLanguage1/target/